<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.mapper.FeelOverviewMapper" >
  <resultMap id="BaseResultMap" type="com.mybatis.pojo.FeelOverview" >
    <result column="dt" property="dt" jdbcType="DATE" />
    <result column="item_first_cate_cd" property="itemFirstCateCd" jdbcType="INTEGER" />
    <result column="item_first_cate_name" property="itemFirstCateName" jdbcType="VARCHAR" />
    <result column="item_second_cate_cd" property="itemSecondCateCd" jdbcType="INTEGER" />
    <result column="item_second_cate_name" property="itemSecondCateName" jdbcType="VARCHAR" />
    <result column="item_third_cate_cd" property="itemThirdCateCd" jdbcType="INTEGER" />
    <result column="item_third_cate_name" property="itemThirdCateName" jdbcType="VARCHAR" />
    <result column="sale_order_id" property="saleOrderId" jdbcType="VARCHAR" />
    <result column="service_order_id" property="serviceOrderId" jdbcType="VARCHAR" />
    <result column="business_type_1" property="businessType1" jdbcType="VARCHAR" />
    <result column="business_type_2" property="businessType2" jdbcType="VARCHAR" />
    <result column="dept_name_3" property="deptName3" jdbcType="VARCHAR" />
    <result column="dept_name_2" property="deptName2" jdbcType="VARCHAR" />
    <result column="dept_name_1" property="deptName1" jdbcType="VARCHAR" />
    <result column="dept_id_3" property="deptId3" jdbcType="INTEGER" />
    <result column="dept_id_2" property="deptId2" jdbcType="INTEGER" />
    <result column="dept_id_1" property="deptId1" jdbcType="INTEGER" />
    <result column="major_supp_brevity_code" property="majorSuppBrevityCode" jdbcType="VARCHAR" />
    <result column="major_supp_name" property="majorSuppName" jdbcType="VARCHAR" />
    <result column="purchaser_erp_acct" property="purchaserErpAcct" jdbcType="VARCHAR" />
    <result column="purchaser_name" property="purchaserName" jdbcType="VARCHAR" />
    <result column="saler_erp_acct" property="salerErpAcct" jdbcType="VARCHAR" />
    <result column="sale_staf_name" property="saleStafName" jdbcType="VARCHAR" />
    <result column="pop_operator_erp_acct" property="popOperatorErpAcct" jdbcType="VARCHAR" />
    <result column="pop_operator_name" property="popOperatorName" jdbcType="VARCHAR" />
    <result column="rev_addr_zone_first" property="revAddrZoneFirst" jdbcType="VARCHAR" />
    <result column="rev_addr_province_id" property="revAddrProvinceId" jdbcType="VARCHAR" />
    <result column="rev_addr_province_name" property="revAddrProvinceName" jdbcType="VARCHAR" />
    <result column="spu_name" property="spuName" jdbcType="VARCHAR" />
    <result column="item_spu_id" property="itemSpuId" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    <result column="pop_vender_id" property="popVenderId" jdbcType="INTEGER" />
    <result column="pop_vender_name" property="popVenderName" jdbcType="VARCHAR" />
    <result column="item_sku_id" property="itemSkuId" jdbcType="INTEGER" />
    <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
    <result column="brand_code" property="brandCode" jdbcType="VARCHAR" />
    <result column="barndname_cn" property="barndnameCn" jdbcType="VARCHAR" />
    <result column="barndname_full" property="barndnameFull" jdbcType="VARCHAR" />
    <result column="mall_vender_id" property="mallVenderId" jdbcType="INTEGER" />
    <result column="mall_vender_name" property="mallVenderName" jdbcType="VARCHAR" />
    <result column="service_mode" property="serviceMode" jdbcType="VARCHAR" />
    <result column="index_grain" property="indexGrain" jdbcType="VARCHAR" />
    <result column="order_completeness_numerator" property="orderCompletenessNumerator" jdbcType="DOUBLE" />
    <result column="order_completeness_denominator" property="orderCompletenessDenominator" jdbcType="DOUBLE" />
    <result column="onTime_numerator" property="ontimeNumerator" jdbcType="DOUBLE" />
    <result column="onTime_denominator" property="ontimeDenominator" jdbcType="DOUBLE" />
    <result column="completion_numerator" property="completionNumerator" jdbcType="DOUBLE" />
    <result column="completion_denominator" property="completionDenominator" jdbcType="DOUBLE" />
    <result column="appointment_numerator" property="appointmentNumerator" jdbcType="DOUBLE" />
    <result column="appointment_denominator" property="appointmentDenominator" jdbcType="DOUBLE" />
    <result column="promise_execution_numerator" property="promiseExecutionNumerator" jdbcType="DOUBLE" />
    <result column="promise_execution_denominator" property="promiseExecutionDenominator" jdbcType="DOUBLE" />
    <result column="211_accounts_numerator" property="211AccountsNumerator" jdbcType="DOUBLE" />
    <result column="211_accounts_denominator" property="211AccountsDenominator" jdbcType="DOUBLE" />
    <result column="reached_next_day_numerator" property="reachedNextDayNumerator" jdbcType="DOUBLE" />
    <result column="reached_next_day_denominator" property="reachedNextDayDenominator" jdbcType="DOUBLE" />
    <result column="reached_ciri_day_numerator" property="reachedCiriDayNumerator" jdbcType="DOUBLE" />
    <result column="reached_ciri_day_denominator" property="reachedCiriDayDenominator" jdbcType="DOUBLE" />
    <result column="supply_chain_standard_stock_numerator" property="supplyChainStandardStockNumerator" jdbcType="DOUBLE" />
    <result column="supply_chain_standard_stock_denominator" property="supplyChainStandardStockDenominator" jdbcType="DOUBLE" />
    <result column="afs_service_duration_avg_compute_digitial_numerator" property="afsServiceDurationAvgComputeDigitialNumerator" jdbcType="DOUBLE" />
    <result column="afs_service_duration_avg_compute_digitial_denominator" property="afsServiceDurationAvgComputeDigitialDenominator" jdbcType="DOUBLE" />
    <result column="afs_satisfy_compute_digitial_numerator" property="afsSatisfyComputeDigitialNumerator" jdbcType="DOUBLE" />
    <result column="afs_satisfy_compute_digitial_denominator" property="afsSatisfyComputeDigitialDenominator" jdbcType="DOUBLE" />
    <result column="qcr_qlty_hit_numerator" property="qcrQltyHitNumerator" jdbcType="DOUBLE" />
    <result column="qcr_qlty_hit_denominator" property="qcrQltyHitDenominator" jdbcType="DOUBLE" />
    <result column="negative_commet_numerator" property="negativeCommetNumerator" jdbcType="DOUBLE" />
    <result column="negative_commet_denominator" property="negativeCommetDenominator" jdbcType="DOUBLE" />
    <result column="after_sale_numerator" property="afterSaleNumerator" jdbcType="DOUBLE" />
    <result column="after_sale_denominator" property="afterSaleDenominator" jdbcType="DOUBLE" />
    <result column="quality_problem_repair_notrace_numerator" property="qualityProblemRepairNotraceNumerator" jdbcType="DOUBLE" />
    <result column="quality_problem_repair_notrace_denominator" property="qualityProblemRepairNotraceDenominator" jdbcType="DOUBLE" />
    <result column="quality_problem_repair_trace_numerator" property="qualityProblemRepairTraceNumerator" jdbcType="DOUBLE" />
    <result column="quality_problem_repair_trace_denominator" property="qualityProblemRepairTraceDenominator" jdbcType="DOUBLE" />
    <result column="medicine_standard_hourly_deliver_honour_intime_numerator" property="medicineStandardHourlyDeliverHonourIntimeNumerator" jdbcType="DOUBLE" />
    <result column="medicine_standard_hourly_deliver_honour_intime_denominator" property="medicineStandardHourlyDeliverHonourIntimeDenominator" jdbcType="DOUBLE" />
    <result column="immediate_reach_numerator" property="immediateReachNumerator" jdbcType="DOUBLE" />
    <result column="immediate_reach_denominator" property="immediateReachDenominator" jdbcType="DOUBLE" />
    <result column="average_reach_delivery_time_numerator" property="averageReachDeliveryTimeNumerator" jdbcType="DOUBLE" />
    <result column="average_reach_delivery_time_denominator" property="averageReachDeliveryTimeDenominator" jdbcType="DOUBLE" />
    <result column="average_appointment_delivery_time_numerator" property="averageAppointmentDeliveryTimeNumerator" jdbcType="DOUBLE" />
    <result column="average_appointment_delivery_time_denominator" property="averageAppointmentDeliveryTimeDenominator" jdbcType="DOUBLE" />
    <result column="aftersale_7days_noreasonques_rate_numerator" property="aftersale7daysNoreasonquesRateNumerator" jdbcType="DOUBLE" />
    <result column="aftersale_7days_noreasonques_rate_denominator" property="aftersale7daysNoreasonquesRateDenominator" jdbcType="DOUBLE" />
    <result column="aftersale_prod_quality_amount_rate_numerator" property="aftersaleProdQualityAmountRateNumerator" jdbcType="DOUBLE" />
    <result column="aftersale_prod_quality_amount_rate_denominator" property="aftersaleProdQualityAmountRateDenominator" jdbcType="DOUBLE" />
    <result column="aftersale_quality_questions_rate_numerator" property="aftersaleQualityQuestionsRateNumerator" jdbcType="DOUBLE" />
    <result column="aftersale_quality_questions_rate_denominator" property="aftersaleQualityQuestionsRateDenominator" jdbcType="DOUBLE" />
    <result column="aftersale_net_satisfaction_numerator" property="aftersaleNetSatisfactionNumerator" jdbcType="DOUBLE" />
    <result column="aftersale_net_satisfaction_denominator" property="aftersaleNetSatisfactionDenominator" jdbcType="DOUBLE" />
    <result column="aftersale_reback_rate_numerator" property="aftersaleRebackRateNumerator" jdbcType="DOUBLE" />
    <result column="aftersale_reback_rate_denominator" property="aftersaleRebackRateDenominator" jdbcType="DOUBLE" />
    <result column="aftersale_good_comment_rate_numerator" property="aftersaleGoodCommentRateNumerator" jdbcType="DOUBLE" />
    <result column="aftersale_good_comment_rate_denominator" property="aftersaleGoodCommentRateDenominator" jdbcType="DOUBLE" />
    <result column="aftersale_misbuy_rate_numerator" property="aftersaleMisbuyRateNumerator" jdbcType="DOUBLE" />
    <result column="aftersale_misbuy_rate_denominator" property="aftersaleMisbuyRateDenominator" jdbcType="DOUBLE" />
    <result column="beforesale_15srespond_numerator" property="beforesale15srespondNumerator" jdbcType="DOUBLE" />
    <result column="beforesale_15srespond_denominator" property="beforesale15srespondDenominator" jdbcType="DOUBLE" />
    <result column="beforesale_promoteamount_rate_numerator" property="beforesalePromoteamountRateNumerator" jdbcType="DOUBLE" />
    <result column="beforesale_promoteamount_rate_denominator" property="beforesalePromoteamountRateDenominator" jdbcType="DOUBLE" />
    <result column="beforesale_sendmsg_rate_numerator" property="beforesaleSendmsgRateNumerator" jdbcType="DOUBLE" />
    <result column="beforesale_sendmsg_rate_denominator" property="beforesaleSendmsgRateDenominator" jdbcType="DOUBLE" />
    <result column="beforesale_consuleuser_rate_numerator" property="beforesaleConsuleuserRateNumerator" jdbcType="DOUBLE" />
    <result column="beforesale_consuleuser_rate_denominator" property="beforesaleConsuleuserRateDenominator" jdbcType="DOUBLE" />
    <result column="beforesale_consult_trans_rate_numerator" property="beforesaleConsultTransRateNumerator" jdbcType="DOUBLE" />
    <result column="beforesale_consult_trans_rate_denominator" property="beforesaleConsultTransRateDenominator" jdbcType="DOUBLE" />
    <result column="beforesale_kefu_satisfyrate_numerator" property="beforesaleKefuSatisfyrateNumerator" jdbcType="DOUBLE" />
    <result column="beforesale_kefu_satisfyrate_denominator" property="beforesaleKefuSatisfyrateDenominator" jdbcType="DOUBLE" />
    <result column="beforesale_kedanjia_numerator" property="beforesaleKedanjiaNumerator" jdbcType="DOUBLE" />
    <result column="beforesale_kedanjia_denominator" property="beforesaleKedanjiaDenominator" jdbcType="DOUBLE" />
    <result column="beforesale_dialoguetimes_numerator" property="beforesaleDialoguetimesNumerator" jdbcType="DOUBLE" />
    <result column="beforesale_dialoguetimes_denominator" property="beforesaleDialoguetimesDenominator" jdbcType="DOUBLE" />
    <result column="beforesale_quiet_transrate_numerator" property="beforesaleQuietTransrateNumerator" jdbcType="DOUBLE" />
    <result column="beforesale_quiet_transrate_denominator" property="beforesaleQuietTransrateDenominator" jdbcType="DOUBLE" />
    <result column="consult_qtty" property="consultQtty" jdbcType="DOUBLE" />
    <result column="receive_qtty" property="receiveQtty" jdbcType="DOUBLE" />
    <result column="cust_ser_acct_no" property="custSerAcctNo" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.mybatis.pojo.FeelOverview" >
    insert into feel_overview (dt, item_first_cate_cd, item_first_cate_name, 
      item_second_cate_cd, item_second_cate_name, item_third_cate_cd, 
      item_third_cate_name, sale_order_id, service_order_id, 
      business_type_1, business_type_2, dept_name_3, 
      dept_name_2, dept_name_1, dept_id_3, 
      dept_id_2, dept_id_1, major_supp_brevity_code, 
      major_supp_name, purchaser_erp_acct, purchaser_name, 
      saler_erp_acct, sale_staf_name, pop_operator_erp_acct, 
      pop_operator_name, rev_addr_zone_first, rev_addr_province_id, 
      rev_addr_province_name, spu_name, item_spu_id, 
      shop_id, shop_name, store_id, 
      store_name, pop_vender_id, pop_vender_name, 
      item_sku_id, sku_name, brand_code, 
      barndname_cn, barndname_full, mall_vender_id, 
      mall_vender_name, service_mode, index_grain, 
      order_completeness_numerator, order_completeness_denominator, 
      onTime_numerator, onTime_denominator, completion_numerator, 
      completion_denominator, appointment_numerator, 
      appointment_denominator, promise_execution_numerator, 
      promise_execution_denominator, 211_accounts_numerator, 
      211_accounts_denominator, reached_next_day_numerator, 
      reached_next_day_denominator, reached_ciri_day_numerator, 
      reached_ciri_day_denominator, supply_chain_standard_stock_numerator, 
      supply_chain_standard_stock_denominator, afs_service_duration_avg_compute_digitial_numerator, 
      afs_service_duration_avg_compute_digitial_denominator, afs_satisfy_compute_digitial_numerator, 
      afs_satisfy_compute_digitial_denominator, qcr_qlty_hit_numerator, 
      qcr_qlty_hit_denominator, negative_commet_numerator, 
      negative_commet_denominator, after_sale_numerator, 
      after_sale_denominator, quality_problem_repair_notrace_numerator, 
      quality_problem_repair_notrace_denominator, quality_problem_repair_trace_numerator, 
      quality_problem_repair_trace_denominator, medicine_standard_hourly_deliver_honour_intime_numerator, 
      medicine_standard_hourly_deliver_honour_intime_denominator, immediate_reach_numerator, 
      immediate_reach_denominator, average_reach_delivery_time_numerator, 
      average_reach_delivery_time_denominator, average_appointment_delivery_time_numerator, 
      average_appointment_delivery_time_denominator, aftersale_7days_noreasonques_rate_numerator, 
      aftersale_7days_noreasonques_rate_denominator, aftersale_prod_quality_amount_rate_numerator, 
      aftersale_prod_quality_amount_rate_denominator, aftersale_quality_questions_rate_numerator, 
      aftersale_quality_questions_rate_denominator, aftersale_net_satisfaction_numerator, 
      aftersale_net_satisfaction_denominator, aftersale_reback_rate_numerator, 
      aftersale_reback_rate_denominator, aftersale_good_comment_rate_numerator, 
      aftersale_good_comment_rate_denominator, aftersale_misbuy_rate_numerator, 
      aftersale_misbuy_rate_denominator, beforesale_15srespond_numerator, 
      beforesale_15srespond_denominator, beforesale_promoteamount_rate_numerator, 
      beforesale_promoteamount_rate_denominator, beforesale_sendmsg_rate_numerator, 
      beforesale_sendmsg_rate_denominator, beforesale_consuleuser_rate_numerator, 
      beforesale_consuleuser_rate_denominator, beforesale_consult_trans_rate_numerator, 
      beforesale_consult_trans_rate_denominator, beforesale_kefu_satisfyrate_numerator, 
      beforesale_kefu_satisfyrate_denominator, beforesale_kedanjia_numerator, 
      beforesale_kedanjia_denominator, beforesale_dialoguetimes_numerator, 
      beforesale_dialoguetimes_denominator, beforesale_quiet_transrate_numerator, 
      beforesale_quiet_transrate_denominator, consult_qtty, 
      receive_qtty, cust_ser_acct_no)
    values (#{dt,jdbcType=DATE}, #{itemFirstCateCd,jdbcType=INTEGER}, #{itemFirstCateName,jdbcType=VARCHAR}, 
      #{itemSecondCateCd,jdbcType=INTEGER}, #{itemSecondCateName,jdbcType=VARCHAR}, #{itemThirdCateCd,jdbcType=INTEGER}, 
      #{itemThirdCateName,jdbcType=VARCHAR}, #{saleOrderId,jdbcType=VARCHAR}, #{serviceOrderId,jdbcType=VARCHAR}, 
      #{businessType1,jdbcType=VARCHAR}, #{businessType2,jdbcType=VARCHAR}, #{deptName3,jdbcType=VARCHAR}, 
      #{deptName2,jdbcType=VARCHAR}, #{deptName1,jdbcType=VARCHAR}, #{deptId3,jdbcType=INTEGER}, 
      #{deptId2,jdbcType=INTEGER}, #{deptId1,jdbcType=INTEGER}, #{majorSuppBrevityCode,jdbcType=VARCHAR}, 
      #{majorSuppName,jdbcType=VARCHAR}, #{purchaserErpAcct,jdbcType=VARCHAR}, #{purchaserName,jdbcType=VARCHAR}, 
      #{salerErpAcct,jdbcType=VARCHAR}, #{saleStafName,jdbcType=VARCHAR}, #{popOperatorErpAcct,jdbcType=VARCHAR}, 
      #{popOperatorName,jdbcType=VARCHAR}, #{revAddrZoneFirst,jdbcType=VARCHAR}, #{revAddrProvinceId,jdbcType=VARCHAR}, 
      #{revAddrProvinceName,jdbcType=VARCHAR}, #{spuName,jdbcType=VARCHAR}, #{itemSpuId,jdbcType=INTEGER}, 
      #{shopId,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{storeId,jdbcType=INTEGER}, 
      #{storeName,jdbcType=VARCHAR}, #{popVenderId,jdbcType=INTEGER}, #{popVenderName,jdbcType=VARCHAR}, 
      #{itemSkuId,jdbcType=INTEGER}, #{skuName,jdbcType=VARCHAR}, #{brandCode,jdbcType=VARCHAR}, 
      #{barndnameCn,jdbcType=VARCHAR}, #{barndnameFull,jdbcType=VARCHAR}, #{mallVenderId,jdbcType=INTEGER}, 
      #{mallVenderName,jdbcType=VARCHAR}, #{serviceMode,jdbcType=VARCHAR}, #{indexGrain,jdbcType=VARCHAR}, 
      #{orderCompletenessNumerator,jdbcType=DOUBLE}, #{orderCompletenessDenominator,jdbcType=DOUBLE}, 
      #{ontimeNumerator,jdbcType=DOUBLE}, #{ontimeDenominator,jdbcType=DOUBLE}, #{completionNumerator,jdbcType=DOUBLE}, 
      #{completionDenominator,jdbcType=DOUBLE}, #{appointmentNumerator,jdbcType=DOUBLE}, 
      #{appointmentDenominator,jdbcType=DOUBLE}, #{promiseExecutionNumerator,jdbcType=DOUBLE}, 
      #{promiseExecutionDenominator,jdbcType=DOUBLE}, #{211AccountsNumerator,jdbcType=DOUBLE}, 
      #{211AccountsDenominator,jdbcType=DOUBLE}, #{reachedNextDayNumerator,jdbcType=DOUBLE}, 
      #{reachedNextDayDenominator,jdbcType=DOUBLE}, #{reachedCiriDayNumerator,jdbcType=DOUBLE}, 
      #{reachedCiriDayDenominator,jdbcType=DOUBLE}, #{supplyChainStandardStockNumerator,jdbcType=DOUBLE}, 
      #{supplyChainStandardStockDenominator,jdbcType=DOUBLE}, #{afsServiceDurationAvgComputeDigitialNumerator,jdbcType=DOUBLE}, 
      #{afsServiceDurationAvgComputeDigitialDenominator,jdbcType=DOUBLE}, #{afsSatisfyComputeDigitialNumerator,jdbcType=DOUBLE}, 
      #{afsSatisfyComputeDigitialDenominator,jdbcType=DOUBLE}, #{qcrQltyHitNumerator,jdbcType=DOUBLE}, 
      #{qcrQltyHitDenominator,jdbcType=DOUBLE}, #{negativeCommetNumerator,jdbcType=DOUBLE}, 
      #{negativeCommetDenominator,jdbcType=DOUBLE}, #{afterSaleNumerator,jdbcType=DOUBLE}, 
      #{afterSaleDenominator,jdbcType=DOUBLE}, #{qualityProblemRepairNotraceNumerator,jdbcType=DOUBLE}, 
      #{qualityProblemRepairNotraceDenominator,jdbcType=DOUBLE}, #{qualityProblemRepairTraceNumerator,jdbcType=DOUBLE}, 
      #{qualityProblemRepairTraceDenominator,jdbcType=DOUBLE}, #{medicineStandardHourlyDeliverHonourIntimeNumerator,jdbcType=DOUBLE}, 
      #{medicineStandardHourlyDeliverHonourIntimeDenominator,jdbcType=DOUBLE}, #{immediateReachNumerator,jdbcType=DOUBLE}, 
      #{immediateReachDenominator,jdbcType=DOUBLE}, #{averageReachDeliveryTimeNumerator,jdbcType=DOUBLE}, 
      #{averageReachDeliveryTimeDenominator,jdbcType=DOUBLE}, #{averageAppointmentDeliveryTimeNumerator,jdbcType=DOUBLE}, 
      #{averageAppointmentDeliveryTimeDenominator,jdbcType=DOUBLE}, #{aftersale7daysNoreasonquesRateNumerator,jdbcType=DOUBLE}, 
      #{aftersale7daysNoreasonquesRateDenominator,jdbcType=DOUBLE}, #{aftersaleProdQualityAmountRateNumerator,jdbcType=DOUBLE}, 
      #{aftersaleProdQualityAmountRateDenominator,jdbcType=DOUBLE}, #{aftersaleQualityQuestionsRateNumerator,jdbcType=DOUBLE}, 
      #{aftersaleQualityQuestionsRateDenominator,jdbcType=DOUBLE}, #{aftersaleNetSatisfactionNumerator,jdbcType=DOUBLE}, 
      #{aftersaleNetSatisfactionDenominator,jdbcType=DOUBLE}, #{aftersaleRebackRateNumerator,jdbcType=DOUBLE}, 
      #{aftersaleRebackRateDenominator,jdbcType=DOUBLE}, #{aftersaleGoodCommentRateNumerator,jdbcType=DOUBLE}, 
      #{aftersaleGoodCommentRateDenominator,jdbcType=DOUBLE}, #{aftersaleMisbuyRateNumerator,jdbcType=DOUBLE}, 
      #{aftersaleMisbuyRateDenominator,jdbcType=DOUBLE}, #{beforesale15srespondNumerator,jdbcType=DOUBLE}, 
      #{beforesale15srespondDenominator,jdbcType=DOUBLE}, #{beforesalePromoteamountRateNumerator,jdbcType=DOUBLE}, 
      #{beforesalePromoteamountRateDenominator,jdbcType=DOUBLE}, #{beforesaleSendmsgRateNumerator,jdbcType=DOUBLE}, 
      #{beforesaleSendmsgRateDenominator,jdbcType=DOUBLE}, #{beforesaleConsuleuserRateNumerator,jdbcType=DOUBLE}, 
      #{beforesaleConsuleuserRateDenominator,jdbcType=DOUBLE}, #{beforesaleConsultTransRateNumerator,jdbcType=DOUBLE}, 
      #{beforesaleConsultTransRateDenominator,jdbcType=DOUBLE}, #{beforesaleKefuSatisfyrateNumerator,jdbcType=DOUBLE}, 
      #{beforesaleKefuSatisfyrateDenominator,jdbcType=DOUBLE}, #{beforesaleKedanjiaNumerator,jdbcType=DOUBLE}, 
      #{beforesaleKedanjiaDenominator,jdbcType=DOUBLE}, #{beforesaleDialoguetimesNumerator,jdbcType=DOUBLE}, 
      #{beforesaleDialoguetimesDenominator,jdbcType=DOUBLE}, #{beforesaleQuietTransrateNumerator,jdbcType=DOUBLE}, 
      #{beforesaleQuietTransrateDenominator,jdbcType=DOUBLE}, #{consultQtty,jdbcType=DOUBLE}, 
      #{receiveQtty,jdbcType=DOUBLE}, #{custSerAcctNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatis.pojo.FeelOverview" >
    insert into feel_overview
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dt != null" >
        dt,
      </if>
      <if test="itemFirstCateCd != null" >
        item_first_cate_cd,
      </if>
      <if test="itemFirstCateName != null" >
        item_first_cate_name,
      </if>
      <if test="itemSecondCateCd != null" >
        item_second_cate_cd,
      </if>
      <if test="itemSecondCateName != null" >
        item_second_cate_name,
      </if>
      <if test="itemThirdCateCd != null" >
        item_third_cate_cd,
      </if>
      <if test="itemThirdCateName != null" >
        item_third_cate_name,
      </if>
      <if test="saleOrderId != null" >
        sale_order_id,
      </if>
      <if test="serviceOrderId != null" >
        service_order_id,
      </if>
      <if test="businessType1 != null" >
        business_type_1,
      </if>
      <if test="businessType2 != null" >
        business_type_2,
      </if>
      <if test="deptName3 != null" >
        dept_name_3,
      </if>
      <if test="deptName2 != null" >
        dept_name_2,
      </if>
      <if test="deptName1 != null" >
        dept_name_1,
      </if>
      <if test="deptId3 != null" >
        dept_id_3,
      </if>
      <if test="deptId2 != null" >
        dept_id_2,
      </if>
      <if test="deptId1 != null" >
        dept_id_1,
      </if>
      <if test="majorSuppBrevityCode != null" >
        major_supp_brevity_code,
      </if>
      <if test="majorSuppName != null" >
        major_supp_name,
      </if>
      <if test="purchaserErpAcct != null" >
        purchaser_erp_acct,
      </if>
      <if test="purchaserName != null" >
        purchaser_name,
      </if>
      <if test="salerErpAcct != null" >
        saler_erp_acct,
      </if>
      <if test="saleStafName != null" >
        sale_staf_name,
      </if>
      <if test="popOperatorErpAcct != null" >
        pop_operator_erp_acct,
      </if>
      <if test="popOperatorName != null" >
        pop_operator_name,
      </if>
      <if test="revAddrZoneFirst != null" >
        rev_addr_zone_first,
      </if>
      <if test="revAddrProvinceId != null" >
        rev_addr_province_id,
      </if>
      <if test="revAddrProvinceName != null" >
        rev_addr_province_name,
      </if>
      <if test="spuName != null" >
        spu_name,
      </if>
      <if test="itemSpuId != null" >
        item_spu_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="popVenderId != null" >
        pop_vender_id,
      </if>
      <if test="popVenderName != null" >
        pop_vender_name,
      </if>
      <if test="itemSkuId != null" >
        item_sku_id,
      </if>
      <if test="skuName != null" >
        sku_name,
      </if>
      <if test="brandCode != null" >
        brand_code,
      </if>
      <if test="barndnameCn != null" >
        barndname_cn,
      </if>
      <if test="barndnameFull != null" >
        barndname_full,
      </if>
      <if test="mallVenderId != null" >
        mall_vender_id,
      </if>
      <if test="mallVenderName != null" >
        mall_vender_name,
      </if>
      <if test="serviceMode != null" >
        service_mode,
      </if>
      <if test="indexGrain != null" >
        index_grain,
      </if>
      <if test="orderCompletenessNumerator != null" >
        order_completeness_numerator,
      </if>
      <if test="orderCompletenessDenominator != null" >
        order_completeness_denominator,
      </if>
      <if test="ontimeNumerator != null" >
        onTime_numerator,
      </if>
      <if test="ontimeDenominator != null" >
        onTime_denominator,
      </if>
      <if test="completionNumerator != null" >
        completion_numerator,
      </if>
      <if test="completionDenominator != null" >
        completion_denominator,
      </if>
      <if test="appointmentNumerator != null" >
        appointment_numerator,
      </if>
      <if test="appointmentDenominator != null" >
        appointment_denominator,
      </if>
      <if test="promiseExecutionNumerator != null" >
        promise_execution_numerator,
      </if>
      <if test="promiseExecutionDenominator != null" >
        promise_execution_denominator,
      </if>
      <if test="211AccountsNumerator != null" >
        211_accounts_numerator,
      </if>
      <if test="211AccountsDenominator != null" >
        211_accounts_denominator,
      </if>
      <if test="reachedNextDayNumerator != null" >
        reached_next_day_numerator,
      </if>
      <if test="reachedNextDayDenominator != null" >
        reached_next_day_denominator,
      </if>
      <if test="reachedCiriDayNumerator != null" >
        reached_ciri_day_numerator,
      </if>
      <if test="reachedCiriDayDenominator != null" >
        reached_ciri_day_denominator,
      </if>
      <if test="supplyChainStandardStockNumerator != null" >
        supply_chain_standard_stock_numerator,
      </if>
      <if test="supplyChainStandardStockDenominator != null" >
        supply_chain_standard_stock_denominator,
      </if>
      <if test="afsServiceDurationAvgComputeDigitialNumerator != null" >
        afs_service_duration_avg_compute_digitial_numerator,
      </if>
      <if test="afsServiceDurationAvgComputeDigitialDenominator != null" >
        afs_service_duration_avg_compute_digitial_denominator,
      </if>
      <if test="afsSatisfyComputeDigitialNumerator != null" >
        afs_satisfy_compute_digitial_numerator,
      </if>
      <if test="afsSatisfyComputeDigitialDenominator != null" >
        afs_satisfy_compute_digitial_denominator,
      </if>
      <if test="qcrQltyHitNumerator != null" >
        qcr_qlty_hit_numerator,
      </if>
      <if test="qcrQltyHitDenominator != null" >
        qcr_qlty_hit_denominator,
      </if>
      <if test="negativeCommetNumerator != null" >
        negative_commet_numerator,
      </if>
      <if test="negativeCommetDenominator != null" >
        negative_commet_denominator,
      </if>
      <if test="afterSaleNumerator != null" >
        after_sale_numerator,
      </if>
      <if test="afterSaleDenominator != null" >
        after_sale_denominator,
      </if>
      <if test="qualityProblemRepairNotraceNumerator != null" >
        quality_problem_repair_notrace_numerator,
      </if>
      <if test="qualityProblemRepairNotraceDenominator != null" >
        quality_problem_repair_notrace_denominator,
      </if>
      <if test="qualityProblemRepairTraceNumerator != null" >
        quality_problem_repair_trace_numerator,
      </if>
      <if test="qualityProblemRepairTraceDenominator != null" >
        quality_problem_repair_trace_denominator,
      </if>
      <if test="medicineStandardHourlyDeliverHonourIntimeNumerator != null" >
        medicine_standard_hourly_deliver_honour_intime_numerator,
      </if>
      <if test="medicineStandardHourlyDeliverHonourIntimeDenominator != null" >
        medicine_standard_hourly_deliver_honour_intime_denominator,
      </if>
      <if test="immediateReachNumerator != null" >
        immediate_reach_numerator,
      </if>
      <if test="immediateReachDenominator != null" >
        immediate_reach_denominator,
      </if>
      <if test="averageReachDeliveryTimeNumerator != null" >
        average_reach_delivery_time_numerator,
      </if>
      <if test="averageReachDeliveryTimeDenominator != null" >
        average_reach_delivery_time_denominator,
      </if>
      <if test="averageAppointmentDeliveryTimeNumerator != null" >
        average_appointment_delivery_time_numerator,
      </if>
      <if test="averageAppointmentDeliveryTimeDenominator != null" >
        average_appointment_delivery_time_denominator,
      </if>
      <if test="aftersale7daysNoreasonquesRateNumerator != null" >
        aftersale_7days_noreasonques_rate_numerator,
      </if>
      <if test="aftersale7daysNoreasonquesRateDenominator != null" >
        aftersale_7days_noreasonques_rate_denominator,
      </if>
      <if test="aftersaleProdQualityAmountRateNumerator != null" >
        aftersale_prod_quality_amount_rate_numerator,
      </if>
      <if test="aftersaleProdQualityAmountRateDenominator != null" >
        aftersale_prod_quality_amount_rate_denominator,
      </if>
      <if test="aftersaleQualityQuestionsRateNumerator != null" >
        aftersale_quality_questions_rate_numerator,
      </if>
      <if test="aftersaleQualityQuestionsRateDenominator != null" >
        aftersale_quality_questions_rate_denominator,
      </if>
      <if test="aftersaleNetSatisfactionNumerator != null" >
        aftersale_net_satisfaction_numerator,
      </if>
      <if test="aftersaleNetSatisfactionDenominator != null" >
        aftersale_net_satisfaction_denominator,
      </if>
      <if test="aftersaleRebackRateNumerator != null" >
        aftersale_reback_rate_numerator,
      </if>
      <if test="aftersaleRebackRateDenominator != null" >
        aftersale_reback_rate_denominator,
      </if>
      <if test="aftersaleGoodCommentRateNumerator != null" >
        aftersale_good_comment_rate_numerator,
      </if>
      <if test="aftersaleGoodCommentRateDenominator != null" >
        aftersale_good_comment_rate_denominator,
      </if>
      <if test="aftersaleMisbuyRateNumerator != null" >
        aftersale_misbuy_rate_numerator,
      </if>
      <if test="aftersaleMisbuyRateDenominator != null" >
        aftersale_misbuy_rate_denominator,
      </if>
      <if test="beforesale15srespondNumerator != null" >
        beforesale_15srespond_numerator,
      </if>
      <if test="beforesale15srespondDenominator != null" >
        beforesale_15srespond_denominator,
      </if>
      <if test="beforesalePromoteamountRateNumerator != null" >
        beforesale_promoteamount_rate_numerator,
      </if>
      <if test="beforesalePromoteamountRateDenominator != null" >
        beforesale_promoteamount_rate_denominator,
      </if>
      <if test="beforesaleSendmsgRateNumerator != null" >
        beforesale_sendmsg_rate_numerator,
      </if>
      <if test="beforesaleSendmsgRateDenominator != null" >
        beforesale_sendmsg_rate_denominator,
      </if>
      <if test="beforesaleConsuleuserRateNumerator != null" >
        beforesale_consuleuser_rate_numerator,
      </if>
      <if test="beforesaleConsuleuserRateDenominator != null" >
        beforesale_consuleuser_rate_denominator,
      </if>
      <if test="beforesaleConsultTransRateNumerator != null" >
        beforesale_consult_trans_rate_numerator,
      </if>
      <if test="beforesaleConsultTransRateDenominator != null" >
        beforesale_consult_trans_rate_denominator,
      </if>
      <if test="beforesaleKefuSatisfyrateNumerator != null" >
        beforesale_kefu_satisfyrate_numerator,
      </if>
      <if test="beforesaleKefuSatisfyrateDenominator != null" >
        beforesale_kefu_satisfyrate_denominator,
      </if>
      <if test="beforesaleKedanjiaNumerator != null" >
        beforesale_kedanjia_numerator,
      </if>
      <if test="beforesaleKedanjiaDenominator != null" >
        beforesale_kedanjia_denominator,
      </if>
      <if test="beforesaleDialoguetimesNumerator != null" >
        beforesale_dialoguetimes_numerator,
      </if>
      <if test="beforesaleDialoguetimesDenominator != null" >
        beforesale_dialoguetimes_denominator,
      </if>
      <if test="beforesaleQuietTransrateNumerator != null" >
        beforesale_quiet_transrate_numerator,
      </if>
      <if test="beforesaleQuietTransrateDenominator != null" >
        beforesale_quiet_transrate_denominator,
      </if>
      <if test="consultQtty != null" >
        consult_qtty,
      </if>
      <if test="receiveQtty != null" >
        receive_qtty,
      </if>
      <if test="custSerAcctNo != null" >
        cust_ser_acct_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dt != null" >
        #{dt,jdbcType=DATE},
      </if>
      <if test="itemFirstCateCd != null" >
        #{itemFirstCateCd,jdbcType=INTEGER},
      </if>
      <if test="itemFirstCateName != null" >
        #{itemFirstCateName,jdbcType=VARCHAR},
      </if>
      <if test="itemSecondCateCd != null" >
        #{itemSecondCateCd,jdbcType=INTEGER},
      </if>
      <if test="itemSecondCateName != null" >
        #{itemSecondCateName,jdbcType=VARCHAR},
      </if>
      <if test="itemThirdCateCd != null" >
        #{itemThirdCateCd,jdbcType=INTEGER},
      </if>
      <if test="itemThirdCateName != null" >
        #{itemThirdCateName,jdbcType=VARCHAR},
      </if>
      <if test="saleOrderId != null" >
        #{saleOrderId,jdbcType=VARCHAR},
      </if>
      <if test="serviceOrderId != null" >
        #{serviceOrderId,jdbcType=VARCHAR},
      </if>
      <if test="businessType1 != null" >
        #{businessType1,jdbcType=VARCHAR},
      </if>
      <if test="businessType2 != null" >
        #{businessType2,jdbcType=VARCHAR},
      </if>
      <if test="deptName3 != null" >
        #{deptName3,jdbcType=VARCHAR},
      </if>
      <if test="deptName2 != null" >
        #{deptName2,jdbcType=VARCHAR},
      </if>
      <if test="deptName1 != null" >
        #{deptName1,jdbcType=VARCHAR},
      </if>
      <if test="deptId3 != null" >
        #{deptId3,jdbcType=INTEGER},
      </if>
      <if test="deptId2 != null" >
        #{deptId2,jdbcType=INTEGER},
      </if>
      <if test="deptId1 != null" >
        #{deptId1,jdbcType=INTEGER},
      </if>
      <if test="majorSuppBrevityCode != null" >
        #{majorSuppBrevityCode,jdbcType=VARCHAR},
      </if>
      <if test="majorSuppName != null" >
        #{majorSuppName,jdbcType=VARCHAR},
      </if>
      <if test="purchaserErpAcct != null" >
        #{purchaserErpAcct,jdbcType=VARCHAR},
      </if>
      <if test="purchaserName != null" >
        #{purchaserName,jdbcType=VARCHAR},
      </if>
      <if test="salerErpAcct != null" >
        #{salerErpAcct,jdbcType=VARCHAR},
      </if>
      <if test="saleStafName != null" >
        #{saleStafName,jdbcType=VARCHAR},
      </if>
      <if test="popOperatorErpAcct != null" >
        #{popOperatorErpAcct,jdbcType=VARCHAR},
      </if>
      <if test="popOperatorName != null" >
        #{popOperatorName,jdbcType=VARCHAR},
      </if>
      <if test="revAddrZoneFirst != null" >
        #{revAddrZoneFirst,jdbcType=VARCHAR},
      </if>
      <if test="revAddrProvinceId != null" >
        #{revAddrProvinceId,jdbcType=VARCHAR},
      </if>
      <if test="revAddrProvinceName != null" >
        #{revAddrProvinceName,jdbcType=VARCHAR},
      </if>
      <if test="spuName != null" >
        #{spuName,jdbcType=VARCHAR},
      </if>
      <if test="itemSpuId != null" >
        #{itemSpuId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="popVenderId != null" >
        #{popVenderId,jdbcType=INTEGER},
      </if>
      <if test="popVenderName != null" >
        #{popVenderName,jdbcType=VARCHAR},
      </if>
      <if test="itemSkuId != null" >
        #{itemSkuId,jdbcType=INTEGER},
      </if>
      <if test="skuName != null" >
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="brandCode != null" >
        #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="barndnameCn != null" >
        #{barndnameCn,jdbcType=VARCHAR},
      </if>
      <if test="barndnameFull != null" >
        #{barndnameFull,jdbcType=VARCHAR},
      </if>
      <if test="mallVenderId != null" >
        #{mallVenderId,jdbcType=INTEGER},
      </if>
      <if test="mallVenderName != null" >
        #{mallVenderName,jdbcType=VARCHAR},
      </if>
      <if test="serviceMode != null" >
        #{serviceMode,jdbcType=VARCHAR},
      </if>
      <if test="indexGrain != null" >
        #{indexGrain,jdbcType=VARCHAR},
      </if>
      <if test="orderCompletenessNumerator != null" >
        #{orderCompletenessNumerator,jdbcType=DOUBLE},
      </if>
      <if test="orderCompletenessDenominator != null" >
        #{orderCompletenessDenominator,jdbcType=DOUBLE},
      </if>
      <if test="ontimeNumerator != null" >
        #{ontimeNumerator,jdbcType=DOUBLE},
      </if>
      <if test="ontimeDenominator != null" >
        #{ontimeDenominator,jdbcType=DOUBLE},
      </if>
      <if test="completionNumerator != null" >
        #{completionNumerator,jdbcType=DOUBLE},
      </if>
      <if test="completionDenominator != null" >
        #{completionDenominator,jdbcType=DOUBLE},
      </if>
      <if test="appointmentNumerator != null" >
        #{appointmentNumerator,jdbcType=DOUBLE},
      </if>
      <if test="appointmentDenominator != null" >
        #{appointmentDenominator,jdbcType=DOUBLE},
      </if>
      <if test="promiseExecutionNumerator != null" >
        #{promiseExecutionNumerator,jdbcType=DOUBLE},
      </if>
      <if test="promiseExecutionDenominator != null" >
        #{promiseExecutionDenominator,jdbcType=DOUBLE},
      </if>
      <if test="211AccountsNumerator != null" >
        #{211AccountsNumerator,jdbcType=DOUBLE},
      </if>
      <if test="211AccountsDenominator != null" >
        #{211AccountsDenominator,jdbcType=DOUBLE},
      </if>
      <if test="reachedNextDayNumerator != null" >
        #{reachedNextDayNumerator,jdbcType=DOUBLE},
      </if>
      <if test="reachedNextDayDenominator != null" >
        #{reachedNextDayDenominator,jdbcType=DOUBLE},
      </if>
      <if test="reachedCiriDayNumerator != null" >
        #{reachedCiriDayNumerator,jdbcType=DOUBLE},
      </if>
      <if test="reachedCiriDayDenominator != null" >
        #{reachedCiriDayDenominator,jdbcType=DOUBLE},
      </if>
      <if test="supplyChainStandardStockNumerator != null" >
        #{supplyChainStandardStockNumerator,jdbcType=DOUBLE},
      </if>
      <if test="supplyChainStandardStockDenominator != null" >
        #{supplyChainStandardStockDenominator,jdbcType=DOUBLE},
      </if>
      <if test="afsServiceDurationAvgComputeDigitialNumerator != null" >
        #{afsServiceDurationAvgComputeDigitialNumerator,jdbcType=DOUBLE},
      </if>
      <if test="afsServiceDurationAvgComputeDigitialDenominator != null" >
        #{afsServiceDurationAvgComputeDigitialDenominator,jdbcType=DOUBLE},
      </if>
      <if test="afsSatisfyComputeDigitialNumerator != null" >
        #{afsSatisfyComputeDigitialNumerator,jdbcType=DOUBLE},
      </if>
      <if test="afsSatisfyComputeDigitialDenominator != null" >
        #{afsSatisfyComputeDigitialDenominator,jdbcType=DOUBLE},
      </if>
      <if test="qcrQltyHitNumerator != null" >
        #{qcrQltyHitNumerator,jdbcType=DOUBLE},
      </if>
      <if test="qcrQltyHitDenominator != null" >
        #{qcrQltyHitDenominator,jdbcType=DOUBLE},
      </if>
      <if test="negativeCommetNumerator != null" >
        #{negativeCommetNumerator,jdbcType=DOUBLE},
      </if>
      <if test="negativeCommetDenominator != null" >
        #{negativeCommetDenominator,jdbcType=DOUBLE},
      </if>
      <if test="afterSaleNumerator != null" >
        #{afterSaleNumerator,jdbcType=DOUBLE},
      </if>
      <if test="afterSaleDenominator != null" >
        #{afterSaleDenominator,jdbcType=DOUBLE},
      </if>
      <if test="qualityProblemRepairNotraceNumerator != null" >
        #{qualityProblemRepairNotraceNumerator,jdbcType=DOUBLE},
      </if>
      <if test="qualityProblemRepairNotraceDenominator != null" >
        #{qualityProblemRepairNotraceDenominator,jdbcType=DOUBLE},
      </if>
      <if test="qualityProblemRepairTraceNumerator != null" >
        #{qualityProblemRepairTraceNumerator,jdbcType=DOUBLE},
      </if>
      <if test="qualityProblemRepairTraceDenominator != null" >
        #{qualityProblemRepairTraceDenominator,jdbcType=DOUBLE},
      </if>
      <if test="medicineStandardHourlyDeliverHonourIntimeNumerator != null" >
        #{medicineStandardHourlyDeliverHonourIntimeNumerator,jdbcType=DOUBLE},
      </if>
      <if test="medicineStandardHourlyDeliverHonourIntimeDenominator != null" >
        #{medicineStandardHourlyDeliverHonourIntimeDenominator,jdbcType=DOUBLE},
      </if>
      <if test="immediateReachNumerator != null" >
        #{immediateReachNumerator,jdbcType=DOUBLE},
      </if>
      <if test="immediateReachDenominator != null" >
        #{immediateReachDenominator,jdbcType=DOUBLE},
      </if>
      <if test="averageReachDeliveryTimeNumerator != null" >
        #{averageReachDeliveryTimeNumerator,jdbcType=DOUBLE},
      </if>
      <if test="averageReachDeliveryTimeDenominator != null" >
        #{averageReachDeliveryTimeDenominator,jdbcType=DOUBLE},
      </if>
      <if test="averageAppointmentDeliveryTimeNumerator != null" >
        #{averageAppointmentDeliveryTimeNumerator,jdbcType=DOUBLE},
      </if>
      <if test="averageAppointmentDeliveryTimeDenominator != null" >
        #{averageAppointmentDeliveryTimeDenominator,jdbcType=DOUBLE},
      </if>
      <if test="aftersale7daysNoreasonquesRateNumerator != null" >
        #{aftersale7daysNoreasonquesRateNumerator,jdbcType=DOUBLE},
      </if>
      <if test="aftersale7daysNoreasonquesRateDenominator != null" >
        #{aftersale7daysNoreasonquesRateDenominator,jdbcType=DOUBLE},
      </if>
      <if test="aftersaleProdQualityAmountRateNumerator != null" >
        #{aftersaleProdQualityAmountRateNumerator,jdbcType=DOUBLE},
      </if>
      <if test="aftersaleProdQualityAmountRateDenominator != null" >
        #{aftersaleProdQualityAmountRateDenominator,jdbcType=DOUBLE},
      </if>
      <if test="aftersaleQualityQuestionsRateNumerator != null" >
        #{aftersaleQualityQuestionsRateNumerator,jdbcType=DOUBLE},
      </if>
      <if test="aftersaleQualityQuestionsRateDenominator != null" >
        #{aftersaleQualityQuestionsRateDenominator,jdbcType=DOUBLE},
      </if>
      <if test="aftersaleNetSatisfactionNumerator != null" >
        #{aftersaleNetSatisfactionNumerator,jdbcType=DOUBLE},
      </if>
      <if test="aftersaleNetSatisfactionDenominator != null" >
        #{aftersaleNetSatisfactionDenominator,jdbcType=DOUBLE},
      </if>
      <if test="aftersaleRebackRateNumerator != null" >
        #{aftersaleRebackRateNumerator,jdbcType=DOUBLE},
      </if>
      <if test="aftersaleRebackRateDenominator != null" >
        #{aftersaleRebackRateDenominator,jdbcType=DOUBLE},
      </if>
      <if test="aftersaleGoodCommentRateNumerator != null" >
        #{aftersaleGoodCommentRateNumerator,jdbcType=DOUBLE},
      </if>
      <if test="aftersaleGoodCommentRateDenominator != null" >
        #{aftersaleGoodCommentRateDenominator,jdbcType=DOUBLE},
      </if>
      <if test="aftersaleMisbuyRateNumerator != null" >
        #{aftersaleMisbuyRateNumerator,jdbcType=DOUBLE},
      </if>
      <if test="aftersaleMisbuyRateDenominator != null" >
        #{aftersaleMisbuyRateDenominator,jdbcType=DOUBLE},
      </if>
      <if test="beforesale15srespondNumerator != null" >
        #{beforesale15srespondNumerator,jdbcType=DOUBLE},
      </if>
      <if test="beforesale15srespondDenominator != null" >
        #{beforesale15srespondDenominator,jdbcType=DOUBLE},
      </if>
      <if test="beforesalePromoteamountRateNumerator != null" >
        #{beforesalePromoteamountRateNumerator,jdbcType=DOUBLE},
      </if>
      <if test="beforesalePromoteamountRateDenominator != null" >
        #{beforesalePromoteamountRateDenominator,jdbcType=DOUBLE},
      </if>
      <if test="beforesaleSendmsgRateNumerator != null" >
        #{beforesaleSendmsgRateNumerator,jdbcType=DOUBLE},
      </if>
      <if test="beforesaleSendmsgRateDenominator != null" >
        #{beforesaleSendmsgRateDenominator,jdbcType=DOUBLE},
      </if>
      <if test="beforesaleConsuleuserRateNumerator != null" >
        #{beforesaleConsuleuserRateNumerator,jdbcType=DOUBLE},
      </if>
      <if test="beforesaleConsuleuserRateDenominator != null" >
        #{beforesaleConsuleuserRateDenominator,jdbcType=DOUBLE},
      </if>
      <if test="beforesaleConsultTransRateNumerator != null" >
        #{beforesaleConsultTransRateNumerator,jdbcType=DOUBLE},
      </if>
      <if test="beforesaleConsultTransRateDenominator != null" >
        #{beforesaleConsultTransRateDenominator,jdbcType=DOUBLE},
      </if>
      <if test="beforesaleKefuSatisfyrateNumerator != null" >
        #{beforesaleKefuSatisfyrateNumerator,jdbcType=DOUBLE},
      </if>
      <if test="beforesaleKefuSatisfyrateDenominator != null" >
        #{beforesaleKefuSatisfyrateDenominator,jdbcType=DOUBLE},
      </if>
      <if test="beforesaleKedanjiaNumerator != null" >
        #{beforesaleKedanjiaNumerator,jdbcType=DOUBLE},
      </if>
      <if test="beforesaleKedanjiaDenominator != null" >
        #{beforesaleKedanjiaDenominator,jdbcType=DOUBLE},
      </if>
      <if test="beforesaleDialoguetimesNumerator != null" >
        #{beforesaleDialoguetimesNumerator,jdbcType=DOUBLE},
      </if>
      <if test="beforesaleDialoguetimesDenominator != null" >
        #{beforesaleDialoguetimesDenominator,jdbcType=DOUBLE},
      </if>
      <if test="beforesaleQuietTransrateNumerator != null" >
        #{beforesaleQuietTransrateNumerator,jdbcType=DOUBLE},
      </if>
      <if test="beforesaleQuietTransrateDenominator != null" >
        #{beforesaleQuietTransrateDenominator,jdbcType=DOUBLE},
      </if>
      <if test="consultQtty != null" >
        #{consultQtty,jdbcType=DOUBLE},
      </if>
      <if test="receiveQtty != null" >
        #{receiveQtty,jdbcType=DOUBLE},
      </if>
      <if test="custSerAcctNo != null" >
        #{custSerAcctNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>