<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.mapper.PersonalIndexMapper" >
  <resultMap id="BaseResultMap" type="com.mybatis.pojo.PersonalIndex" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="index_id" property="indexId" jdbcType="BIGINT" />
    <result column="classification_id" property="classificationId" jdbcType="BIGINT" />
    <result column="operation" property="operation" jdbcType="BIT" />
    <result column="account_type" property="accountType" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, index_id, classification_id, operation, account_type, creator, modifier, create_time, 
    modify_time, is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from personal_index
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from personal_index
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mybatis.pojo.PersonalIndex" >
    insert into personal_index (id, index_id, classification_id, 
      operation, account_type, creator, 
      modifier, create_time, modify_time, 
      is_deleted)
    values (#{id,jdbcType=BIGINT}, #{indexId,jdbcType=BIGINT}, #{classificationId,jdbcType=BIGINT}, 
      #{operation,jdbcType=BIT}, #{accountType,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{modifier,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.mybatis.pojo.PersonalIndex" >
    insert into personal_index
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="indexId != null" >
        index_id,
      </if>
      <if test="classificationId != null" >
        classification_id,
      </if>
      <if test="operation != null" >
        operation,
      </if>
      <if test="accountType != null" >
        account_type,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="indexId != null" >
        #{indexId,jdbcType=BIGINT},
      </if>
      <if test="classificationId != null" >
        #{classificationId,jdbcType=BIGINT},
      </if>
      <if test="operation != null" >
        #{operation,jdbcType=BIT},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatis.pojo.PersonalIndex" >
    update personal_index
    <set >
      <if test="indexId != null" >
        index_id = #{indexId,jdbcType=BIGINT},
      </if>
      <if test="classificationId != null" >
        classification_id = #{classificationId,jdbcType=BIGINT},
      </if>
      <if test="operation != null" >
        operation = #{operation,jdbcType=BIT},
      </if>
      <if test="accountType != null" >
        account_type = #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.pojo.PersonalIndex" >
    update personal_index
    set index_id = #{indexId,jdbcType=BIGINT},
      classification_id = #{classificationId,jdbcType=BIGINT},
      operation = #{operation,jdbcType=BIT},
      account_type = #{accountType,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>